li a {
    color: green;
}

.nav {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    padding-top: .5rem !important;
    padding-bottom: 1rem !important;
}

.pt-1, .py-1 {
    padding-top: .5rem !important;
}

.text-muted {
    color: #6c757d !important;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.text-dark {
    color: #343a40 !important;
}

.text-center {
    text-align: center !important;
}

.row {
    padding-left:2%;
    padding-right:2%;
}

.hide {
    display:none;
}

.marg-top1rem {
    margin-top:1rem;
}

