{% load static %}
<!doctype html>
<html>
<head>
    <title>WorldStream - Watch International TV Anywhere</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.min.css' %}">
    <script src="{% static 'home/home.js' %}"></script>
</head>

<body>
    {% include 'nav.html' %}
    <div class="container-fluid">
        {% block content %}
            content goes here
        {% endblock %}
    </div>
</body>
</html>