<div class="container-fluid">
    <nav>
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-xs-4 pt-1">
                <a class="text-muted" id="register-button" href="{% url 'register' %}">Register</a>
            </div>
            <div class="col-xs-4 text-center">
                <a class="blog-header-logo text-dark" href="{% url 'home' %}">Website</a>
            </div>
            <div class="col-xs-4 justify-content-end align-items-center">
                {% if user.is_authenticated %}
                    <i>Hello, {{ request.user }}</i>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <form class = "form-inline" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <input class="form-control marg-right1rem" type="text" name="username" placeholder="Username">
                        <input class="form-control marg-right1rem" type="password" name="password" placeholder="Password">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Sign In</button>
                    </form>
                    
                {% endif %}
            </div>
        </div>
    </nav>
</div>